* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

/* utilities */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* / utilities */


.container {
    width: 70%;
    margin: 20px auto;
}

.logo,
.jumbo-tron,
.layout,
.head-main {
    margin-bottom: 20px;
}

.logo img {
    width: 200px;
    border-right: 1px solid lightgray;
    padding-right: 30px;
}


.jumbo-tron {
    height: 400px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position:center;
    border-radius: 10px;

}

.overlay {
    background-color: rgba(0, 0, 0, 0.2);
    height: 400px;
    border-radius: 10px;
    color:white;
    padding-top: 250px;
    padding-left: 50px;
}

.text {
    width: 50%;
    font-size: 14px;
    font-weight: 300;
}

h2 {
    font-weight: 400;
}



ul li {
    list-style-type: none;
    margin-top: 20px;
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
}

.menu li a {
    text-decoration: none;
    color:gray;
}

.layout {
    padding-bottom: 20px;
}

.col {
    float: left;
    width: 25%;
}

.big-col {
    float: left;
    width: 46%;
    margin-right: 2%;
    margin-left: 2%;
}


/* sezione debug */

/* .debug.container {
    border: 2px dashed red;
} */

/* .debug .logo {
    /* height: 150px; */
    /* background-color:rgb(229, 121, 229);
} */ 

/* .debug .jumbo-tron {
    height: 400px;
    background-color:rgb(224, 214, 122);
} */

.debug .layout {
    background-color:rgb(0, 136, 248);
}

.debug .head-main {
    height: 100px;
    background-color:rgb(171, 207, 230);
}
 
.debug .col {
    height: 400px ;
    background-color:rgb(171, 207, 230);
}

.debug .big-col {
    height: 400px;
    background-color:rgb(171, 207, 230);

}

.debug footer {
    height: 50px;
    background-color:rgb(135, 2, 255);
}

/* / sezione debug */